body{
    margin: 0;
    padding: 0;
    height: 250px;
    width: 498px;
}
.container{
    position: absolute;
    width: 360px;
    height: 202px;
    top: 19px;
    left: 23px;
}
.email{
    position: absolute;
    top: 0px;
    left: 0px;
}
.box1{
    position: absolute;
    width: 360px;
    height: 28px;
    top: 40px;
    left: 0px;
    border: 1px solid black;
    border-radius: 5px;
}
#message1{
    position: absolute;
    top: 77px;
    left: 0px;
    color: red;
}
.paswrd{
    position: absolute;
    top: 88px;
    left: 0px;
}
.box2{
    position: absolute;
    width: 360px;
    height: 28px;
    top: 130px;
    left: 0px;
    border: 1px solid black;
    border-radius: 5px;
}
#message2{
    position: absolute;
    width: 371px;
    top: 161px;
    left: 0px;
    color: red;
}
#message3{
    position: absolute;
    top: 175px;
    left: 0px;
    color: green;
}
.b1{
    position: absolute;
    top: 195px;
    left: 0px;
    width: 128px;
    height: 27px;
    border: 1px solid black;
    border-radius: 5px;
}